<shared-header [backgroundColor]="HeaderBackgroundColor.WHITE"></shared-header>
<main class="data-privacy__main">
  <div class="container">
    <h1 class="data-privacy__primary-heading" i18n>Datenschutz</h1>
    <h2 class="data-privacy__secondary-heading" i18n>
      Allgemeines zur Datenverarbeitung
    </h2>
    <p class="data-privacy__paragraph" i18n>
      Umfang der Verarbeitung personenbezogener Daten
    </p>
    <p class="data-privacy__paragraph" i18n>
      Wir verarbeiten personenbezogene Daten unserer Nutzer, soweit dies zur
      Bereitstellung einer funktionsfähigen Website sowie unserer Inhalte und
      Leistungen erforderlich ist. Die Verarbeitung personenbezogener Daten
      unserer Nutzer erfolgt entweder aufgrund einer vom Nutzer erteilten
      vorherigen Einwilligung oder in Fällen, in denen die Verarbeitung der
      Daten durch gesetzliche Vorschriften gestattet ist.
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>
      Rechtsgrundlage für die Verarbeitung personenbezogener Daten
    </h2>
    <p class="data-privacy__paragraph" i18n>
      Soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine
      Einwilligung der betroffenen Person einholen, dient Art. 6 Abs. 1 lit. a
      EU-Datenschutzgrundverordnung (DSGVO) als Rechtsgrundlage. Bei der
      Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines
      Vertrages, dessen Vertragspartei die betroffene Person ist, erforderlich
      ist, dient Art. 6 Abs. 1 lit. b DSGVO als Rechtsgrundlage. Dies gilt auch
      für Verarbeitungsvorgänge, die zur Durchführung vorvertraglicher Maßnahmen
      erforderlich sind. Soweit eine Verarbeitung personenbezogener Daten zur
      Erfüllung einer rechtlichen Verpflichtung erforderlich ist, der unser
      Unternehmen unterliegt, dient Art. 6 Abs. 1 lit. c DSGVO als
      Rechtsgrundlage. Für den Fall, dass lebenswichtige Interessen der
      betroffenen Person oder einer anderen natürlichen Person eine Verarbeitung
      personenbezogener Daten erforderlich machen, dient Art. 6 Abs. 1 lit. d
      DSGVO als Rechtsgrundlage. Ist die Verarbeitung zur Wahrung eines
      berechtigten Interesses unseres Unternehmens oder eines Dritten
      erforderlich und überwiegen die Interessen, Grundrechte und
      Grundfreiheiten des Betroffenen das erstgenannte Interesse nicht, so dient
      Art. 6 Abs. 1 lit. f DSGVO als Rechtsgrundlage für die Verarbeitung.
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>
      Datenlöschung und Speicherdauer
    </h2>
    <p class="data-privacy__paragraph" i18n>
      Die personenbezogenen Daten der betroffenen Person werden gelöscht oder
      gesperrt, sobald der Zweck der Speicherung entfällt. Eine Speicherung kann
      darüber hinaus erfolgen, wenn dies durch den europäischen oder nationalen
      Gesetzgeber in unionsrechtlichen Verordnungen, Gesetzen oder sonstigen
      Vorschriften, denen der Verantwortliche unterliegt, vorgesehen wurde. Eine
      Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch die
      genannten Normen vorgeschriebene Speicherfrist abläuft, es sei denn, dass
      eine Erforderlichkeit zur weiteren Speicherung der Daten für einen
      Vertragsabschluss oder eine Vertragserfüllung besteht.
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>
      Bereitstellung der Website und Erstellung von Logfiles
    </h2>
    <p class="data-privacy__paragraph" i18n>
      Sie können unsere Webseiten besuchen, ohne Angaben zu Ihrer Person zu
      machen. Bei jedem Aufruf einer Webseite speichert der Webserver lediglich
      automatisch ein sogenanntes Server-Logfile, das z.B. den Namen der
      angeforderten Datei, Ihre IP-Adresse, Datum und Uhrzeit des Abrufs,
      übertragene Datenmenge und den anfragenden Provider (Zugriffsdaten)
      enthält und den Abruf dokumentiert. Diese Zugriffsdaten werden
      ausschließlich zum Zwecke der Sicherstellung eines störungsfreien Betriebs
      der Seite sowie der Verbesserung unseres Angebots ausgewertet. Dies dient
      der Wahrung unserer im Rahmen einer Interessensabwägung überwiegenden
      berechtigten Interessen an einer korrekten Darstellung unseres Angebots im
      Sinne des Art. 6 Abs. 1 lit. f DSGVO. Alle Zugriffsdaten werden spätestens
      sieben Tage nach Ende Ihres Seitenbesuchs gelöscht. Die Erfassung der
      Zugriffsdaten zur Bereitstellung der Website und die Speicherung der Daten
      in Logfiles ist für den Betrieb der Internetseite zwingend erforderlich.
      Es besteht folglich seitens des Nutzers keine Widerspruchsmöglichkeit.
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>Verwendung von Cookies</h2>
    <p class="data-privacy__paragraph" i18n>
      Um den Besuch unserer Website attraktiv zu gestalten und die Nutzung
      bestimmter Funktionen zu ermöglichen, verwendet unsere Webseite sogenannte
      Cookies. Bei Cookies handelt es sich um Textdateien, die im
      Internetbrowser bzw. vom Internetbrowser auf dem Endgerät des Nutzers
      gespeichert werden. Ein Cookie enthält in der Regel den Namen der Domain,
      von der die Cookie-Daten gesendet wurden sowie Informationen über das
      Alter des Cookies und ein alphanumerisches Identifizierungszeichen.
      Cookies ermöglichen unseren Systemen, das Gerät des Nutzers zu erkennen
      und eventuelle Voreinstellungen sofort verfügbar zu machen und helfen uns,
      unsere Website zu verbessern und Ihnen einen besseren und auf Sie
      zugeschnittenen Service anbieten zu können.
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>
      Dauer der Speicherung, Widerspruchs- und Beseitigungsmöglichkeit
    </h2>
    <p class="data-privacy__paragraph" i18n>
      Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an
      unsere Seite übermittelt. Daher haben Sie als Nutzer auch die volle
      Kontrolle über die Verwendung von Cookies. Sie können Ihren Browser so
      einstellen, dass Sie über das Setzen von Cookies informiert werden und
      einzeln über deren Annahme entscheiden oder die Annahme von Cookies für
      bestimmte Fälle oder generell ausschließen. Wenn Sie nur unsere eigenen
      Cookies, nicht aber die Cookies unserer Dienstleister und Partner
      akzeptieren wollen, können Sie die Einstellung in Ihrem Browser „Cookies
      von Drittanbietern blockieren“ wählen. Jeder Browser unterscheidet sich in
      der Art, wie er die Cookie-Einstellungen verwaltet. Diese ist in dem
      Hilfemenü jedes Browsers beschrieben, welches Ihnen erläutert, wie Sie
      Ihre Cookie-Einstellungen ändern können. Werden Cookies für unsere Website
      deaktiviert, können möglicherweise nicht mehr alle Funktionen der Website
      vollumfänglich genutzt werden.
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>
      Hosting-Dienstleistungen durch einen Drittanbieter
    </h2>
    <p class="data-privacy__paragraph" i18n>
      Im Rahmen einer Verarbeitung in unserem Auftrag erbringt ein Drittanbieter
      für uns die Dienste zum Hosting und zur Darstellung der Webseite. Alle
      Daten, die im Rahmen der Nutzung dieser Webseite oder in dafür
      vorgesehenen Formularen im Onlineshop wie folgend beschrieben<br />erhoben
      werden, werden auf seinen Servern verarbeitet. Eine Verarbeitung auf
      anderen Servern findet nur in dem hier erläuterten Rahmen statt. Dieser
      Dienstleister sitzt innerhalb eines Landes der Europäischen Union oder des
      Europäischen Wirtschaftsraums.
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>
      Kontaktaufnahme per E-Mail
    </h2>
    <p class="data-privacy__paragraph" i18n>
      Sie können über die auf unserer Internetseite bereitgehaltene
      E-Mail-Adresse mit uns Kontakt aufnehmen. In diesem Fall werden Ihre mit
      der E-Mail übermittelten personenbezogenen Daten gespeichert. Es erfolgt
      in diesem Zusammenhang keine Weitergabe der Daten an Dritte. Die Daten
      werden ausschließlich für die Verarbeitung der Konversation verwendet.
      Rechtsgrundlage für die Verarbeitung der Daten, die Sie per E-Mail
      übermitteln, ist Art. 6 Abs. 1 lit. f DSGVO. Zielt die Kontaktaufnahme auf
      den Abschluss eines Vertrages ab, ist zusätzliche Rechtsgrundlage für die
      Verarbeitung Art. 6 Abs. 1 lit. b DSGVO. Die Daten werden gelöscht, sobald
      sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich
      sind. Für die personenbezogenen Daten, die per E-Mail übersandt wurden,
      ist dies dann der Fall, wenn die jeweilige Konversation mit Ihnen beendet
      ist. Beendet ist die Konversation dann, wenn sich aus den Umständen
      entnehmen lässt, dass der betroffene Sachverhalt abschließend geklärt ist.
      Sie haben jederzeit die Möglichkeit, aus Gründen, die sich aus Ihrer
      besonderen Situation ergeben, gegen die Verarbeitung der Sie betreffenden
      personenbezogenen Daten Widerspruch einzulegen. In einem solchen Fall kann
      die Konversation nicht fortgeführt werden. Den Widerspruch gegen die
      Verarbeitung richten Sie bitte per E-Mail an die E-Mail-Adresse
      <a href="mailto:kontakt@tomke-nils.de" i18n-href>kontakt@tomke-nils.de</a>
    </p>
    <p class="data-privacy__paragraph" i18n>
      Alle personenbezogenen Daten, die im Zuge der Kontaktaufnahme gespeichert
      wurden, werden in diesem Fall gelöscht.
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>
      Instagram Social Media Plugin
    </h2>
    <p class="data-privacy__paragraph" i18n>
      Wir setzen auf unserer Website Inhalte und Funktionen des sozialen
      Netzwerk-Dienstes Instagram ein, um unser Angebot hierüber bekannter zu
      machen und für Sie interessanter und persönlicher auszugestalten. Anbieter
      ist die Instagram LLC., 1601 Willow Road, Menlo Park, CA 94025, USA.
      Hierzu zählen Bilder, Videos, Texte und Schaltflächen mit dem
      Instagram-Logo oder in Form einer „Instagram-Kamera“. Mit diesen
      Funktionen können Inhalte unserer Onlineangebots innerhalb der Plattform
      von Instagram geteilt werden.
    </p>
    <p class="data-privacy__paragraph" i18n>
      Wenn Sie Mitglied der Plattform Instagram sind, kann Instagram den Aufruf
      der vorgenannten Inhalte und Funktionen Ihrem dortigen Nutzerprofil
      zuordnen. Dabei stellt Ihr Browser eine direkte Verbindung zu den Servern
      von Instagram her. Der Inhalt des Plugins wird von Instagram direkt an
      Ihren Browser übermittelt und in die Seite eingebunden. Durch diese
      Einbindung erhält Instagram die Information, dass Ihr Browser die
      entsprechende Seite unseres Webauftritts aufgerufen hat, auch wenn Sie
      kein Instagram-Profil besitzen oder gerade nicht bei Instagram eingeloggt
      sind. Diese Information (einschließlich Ihrer IP-Adresse) wird von Ihrem
      Browser direkt an einen Server von Instagram in die USA übermittelt und
      dort gespeichert. Sind Sie bei Instagram eingeloggt, kann Instagram den
      Besuch unserer Website Ihrem Instagram-Account unmittelbar zuordnen. Wenn
      Sie mit den Plugins interagieren, zum Beispiel das „Instagram“-Button
      betätigen, wird diese Information ebenfalls direkt an einen Server von
      Instagram übermittelt und dort gespeichert. Die Informationen werden
      außerdem auf Ihrem Instagram-Account veröffentlicht und dort Ihren
      Kontakten angezeigt.
    </p>
    <p class="data-privacy__paragraph" i18n>
      Rechtsgrundlage für die Verarbeitung der personenbezogenen Daten der
      Nutzer ist Art. 6 Abs. 1 lit. f DS-GVO. Der dahinterstehende werbliche
      Zweck, unser Angebot hierüber bekannter zu machen und für Sie
      interessanter auszugestalten, ist unser berechtigtes Interesse im Sinne
      der DSGVO. Wenn Sie nicht damit einverstanden sind, dass Instagram die
      über unseren Webauftritt gesammelten Daten unmittelbar Ihrem
      Instagram-Account zuordnet, müssen Sie sich vor Ihrem Besuch unserer
      Website bei Instagram ausloggen.
    </p>
    <p class="data-privacy__paragraph" i18n>
      Nähere Informationen hierzu Sie in der Datenschutzerklärung von Instagram
      <a href="https://help.instagram.com/155833707900388" target="_blank"
        >https://help.instagram.com/155833707900388</a
      >
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>
      Ihre Rechte als betroffene Person
    </h2>
    <p class="data-privacy__paragraph" i18n>
      Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie Betroffener
      i.S.d. DSGVO und es stehen Ihnen folgende Rechte gegenüber dem
      Verantwortlichen zu:
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>Auskunftsrecht</h2>
    <p class="data-privacy__paragraph" i18n>
      Sie können von dem Verantwortlichen eine Bestätigung darüber verlangen, ob
      personenbezogene Daten, die Sie betreffen, von uns verarbeitet werden.
    </p>
    <p class="data-privacy__paragraph" i18n>
      Liegt eine solche Verarbeitung vor, können Sie von dem Verantwortlichen
      über folgende Informationen Auskunft verlangen:
    </p>
    <ol class="data-privacy__list">
      <li i18n>
        die Zwecke, zu denen die personenbezogenen Daten verarbeitet werden;
      </li>
      <li i18n>
        die Kategorien von personenbezogenen Daten, welche verarbeitet werden;
      </li>
      <li i18n>
        die Empfänger bzw. die Kategorien von Empfängern, gegenüber denen die
        Sie betreffenden personenbezogenen Daten offengelegt wurden oder noch
        offengelegt werden;
      </li>
      <li i18n>
        die geplante Dauer der Speicherung der Sie betreffenden
        personenbezogenen Daten oder, falls konkrete Angaben hierzu nicht
        möglich sind, Kriterien für die Festlegung der Speicherdauer;
      </li>
      <li i18n>
        das Bestehen eines Rechts auf Berichtigung oder Löschung der Sie
        betreffenden personenbezogenen Daten, eines Rechts auf Einschränkung der
        Verarbeitung durch den Verantwortlichen oder eines Widerspruchsrechts
        gegen diese Verarbeitung;
      </li>
      <li i18n>
        das Bestehen eines Beschwerderechts bei einer Aufsichtsbehörde;
      </li>
      <li i18n>
        alle verfügbaren Informationen über die Herkunft der Daten, wenn die
        personenbezogenen Daten nicht bei der betroffenen Person erhoben werden;
      </li>
      <li i18n>
        das Bestehen einer automatisierten Entscheidungsfindung einschließlich
        Profiling gemäß Art. 22 Abs. 1 und 4 DSGVO und - zumindest in diesen
        Fällen - aussagekräftige Informationen über die involvierte Logik sowie
        die Tragweite und die angestrebten Auswirkungen einer derartigen
        Verarbeitung für die betroffene Person.
      </li>
    </ol>
    <p class="data-privacy__paragraph" i18n>
      Ihnen steht das Recht zu, Auskunft darüber zu verlangen, ob die Sie
      betreffenden personenbezogenen Daten in ein Drittland oder an eine
      internationale Organisation übermittelt werden. In diesem Zusammenhang
      können Sie verlangen, über die geeigneten Garantien gem. Art. 46 DSGVO im
      Zusammenhang mit der Übermittlung unterrichtet zu werden.
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>Recht auf Berichtigung</h2>
    <p class="data-privacy__paragraph" i18n>
      Sie haben ein Recht auf unverzügliche Berichtigung und/oder
      Vervollständigung gegenüber dem Verantwortlichen, sofern die verarbeiteten
      personenbezogenen Daten, die Sie betreffen, unrichtig oder unvollständig
      sind.
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>Recht auf Löschung</h2>
    <p class="data-privacy__paragraph" i18n>Löschungspflicht</p>
    <p class="data-privacy__paragraph" i18n>
      Sie können von dem Verantwortlichen verlangen, dass die Sie betreffenden
      personenbezogenen Daten unverzüglich gelöscht werden, und der
      Verantwortliche ist verpflichtet, diese Daten unverzüglich zu löschen,
      sofern einer der folgenden Gründe zutrifft:
    </p>
    <ol class="data-privacy__list">
      <li i18n>
        Die Sie betreffenden personenbezogenen Daten sind für die Zwecke, für
        die sie erhoben oder auf sonstige Weise verarbeitet wurden, nicht mehr
        notwendig.
      </li>
      <li i18n>
        Sie widerrufen Ihre Einwilligung, auf die sich die Verarbeitung gem.
        Art. 6 Abs. 1 lit. a oder Art. 9 Abs. 2 lit. a DSGVO stützte, und es
        fehlt an einer anderweitigen Rechtsgrundlage für die Verarbeitung.
      </li>
      <li i18n>
        Sie legen gem. Art. 21 Abs. 1 DSGVO Widerspruch gegen die Verarbeitung
        ein und es liegen keine vorrangigen berechtigten Gründe für die
        Verarbeitung vor.
      </li>
      <li i18n>
        Die Sie betreffenden personenbezogenen Daten wurden unrechtmäßig
        verarbeitet.
      </li>
      <li i18n>
        Die Löschung der Sie betreffenden personenbezogenen Daten ist zur
        Erfüllung einer rechtlichen Verpflichtung nach dem Unionsrecht oder dem
        Recht der Mitgliedstaaten erforderlich, dem der Verantwortliche
        unterliegt.
      </li>
    </ol>
    <p class="data-privacy__paragraph" i18n>Ausnahmen</p>
    <p class="data-privacy__paragraph" i18n>
      Das Recht auf Löschung besteht nicht, soweit die Verarbeitung erforderlich
      ist
    </p>
    <ol class="data-privacy__list">
      <li i18n>
        zur Ausübung des Rechts auf freie Meinungsäußerung und Information;
      </li>
      <li i18n>
        zur Erfüllung einer rechtlichen Verpflichtung, die die Verarbeitung nach
        dem Recht der Union oder der Mitgliedstaaten, dem der Verantwortliche
        unterliegt, erfordert, oder zur Wahrnehmung einer Aufgabe, die im
        öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt
        erfolgt, die dem Verantwortlichen übertragen wurde;
      </li>
      <li i18n>
        für im öffentlichen Interesse liegende Archivzwecke, wissenschaftliche
        oder historische Forschungszwecke oder für statistische Zwecke gem. Art.
        89 Abs. 1 DSGVO, soweit das unter Abschnitt a) genannte Recht
        voraussichtlich die Verwirklichung der Ziele dieser Verarbeitung
        unmöglich macht oder ernsthaft beeinträchtigt, oder
      </li>
      <li i18n>
        zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.
      </li>
    </ol>
    <h2 class="data-privacy__secondary-heading" i18n>
      Recht auf Einschränkung der Verarbeitung
    </h2>
    <p class="data-privacy__paragraph" i18n>
      Unter den folgenden Voraussetzungen können Sie die Einschränkung der
      Verarbeitung der Sie betreffenden personenbezogenen Daten verlangen:
    </p>
    <ol class="data-privacy__list">
      <li i18n>
        wenn Sie die Richtigkeit der Sie betreffenden personenbezogenen für eine
        Dauer bestreiten, die es dem Verantwortlichen ermöglicht, die
        Richtigkeit der personenbezogenen Daten zu überprüfen;
      </li>
      <li i18n>
        die Verarbeitung unrechtmäßig ist und Sie die Löschung der
        personenbezogenen Daten ablehnen und stattdessen die Einschränkung der
        Nutzung der personenbezogenen Daten verlangen;
      </li>
      <li i18n>
        der Verantwortliche die personenbezogenen Daten für die Zwecke der
        Verarbeitung nicht länger benötigt, Sie diese jedoch zur Geltendmachung,
        Ausübung oder Verteidigung von Rechtsansprüchen benötigen, oder
      </li>
      <li i18n>
        wenn Sie Widerspruch gegen die Verarbeitung gemäß Art. 21 Abs. 1 DSGVO
        eingelegt haben und noch nicht feststeht, ob die berechtigten Gründe des
        Verantwortlichen gegenüber Ihren Gründen überwiegen.
      </li>
    </ol>
    <p class="data-privacy__paragraph" i18n>
      Wurde die Verarbeitung der Sie betreffenden personenbezogenen Daten
      eingeschränkt, dürfen diese Daten - von ihrer Speicherung abgesehen - nur
      mit Ihrer Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung
      von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen
      oder juristischen Person oder aus Gründen eines wichtigen öffentlichen
      Interesses der Union oder eines Mitgliedstaats verarbeitet werden.
    </p>
    <p class="data-privacy__paragraph" i18n>
      Wurde die Einschränkung der Verarbeitung nach den o.g. Voraussetzungen
      eingeschränkt, werden Sie von dem Verantwortlichen unterrichtet bevor die
      Einschränkung aufgehoben wird.
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>
      Recht auf Unterrichtung
    </h2>
    <p class="data-privacy__paragraph" i18n>
      Haben Sie das Recht auf Berichtigung, Löschung oder Einschränkung der
      Verarbeitung gegenüber dem Verantwortlichen geltend gemacht, ist dieser
      verpflichtet, allen Empfängern, denen die Sie betreffenden
      personenbezogenen Daten offengelegt wurden, diese Berichtigung oder
      Löschung der Daten oder Einschränkung der Verarbeitung mitzuteilen, es sei
      denn, dies erweist sich als unmöglich oder ist mit einem
      unverhältnismäßigen Aufwand verbunden. Ihnen steht gegenüber dem
      Verantwortlichen das Recht zu, über diese Empfänger unterrichtet zu
      werden.
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>
      Recht auf Datenübertragbarkeit
    </h2>
    <p class="data-privacy__paragraph" i18n>
      Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die Sie
      dem Verantwortlichen bereitgestellt haben, in einem strukturierten,
      gängigen und maschinenlesbaren Format zu erhalten. Außerdem haben Sie das
      Recht diese Daten einem anderen Verantwortlichen ohne Behinderung durch
      den Verantwortlichen, dem die personenbezogenen Daten bereitgestellt
      wurden, zu übermitteln, sofern
    </p>
    <ol class="data-privacy__list">
      <li i18n>
        die Verarbeitung auf einer Einwilligung gem. Art. 6 Abs. 1 lit. a DSGVO
        oder Art. 9 Abs. 2 lit. a DSGVO oder auf einem Vertrag gem. Art. 6 Abs.
        1 lit. b DSGVO beruht und
      </li>
      <li i18n>die Verarbeitung mithilfe automatisierter Verfahren erfolgt.</li>
    </ol>
    <p class="data-privacy__paragraph" i18n>
      In Ausübung dieses Rechts haben Sie ferner das Recht, zu erwirken, dass
      die Sie betreffenden personenbezogenen Daten direkt von einem
      Verantwortlichen einem anderen Verantwortlichen übermittelt werden, soweit
      dies technisch machbar ist. Freiheiten und Rechte anderer Personen dürfen
      hierdurch nicht beeinträchtigt werden.
    </p>
    <p class="data-privacy__paragraph" i18n>
      Das Recht auf Datenübertragbarkeit gilt nicht für eine Verarbeitung
      personenbezogener Daten, die für die Wahrnehmung einer Aufgabe
      erforderlich ist, die im öffentlichen Interesse liegt oder in Ausübung
      öffentlicher Gewalt erfolgt, die dem Verantwortlichen übertragen wurde.
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>Widerspruchsrecht</h2>
    <p class="data-privacy__paragraph" i18n>
      Sie haben das Recht, aus Gründen, die sich aus ihrer besonderen Situation
      ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden
      personenbezogenen Daten, die aufgrund von Art. 6 Abs. 1 lit. e oder f
      DSGVO erfolgt, Widerspruch einzulegen.
    </p>
    <p class="data-privacy__paragraph" i18n>
      Der Verantwortliche verarbeitet die Sie betreffenden personenbezogenen
      Daten nicht mehr, es sei denn, er kann zwingende schutzwürdige Gründe für
      die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten
      überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder
      Verteidigung von Rechtsansprüchen.
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>
      Recht auf Widerruf der datenschutzrechtlichen Einwilligungserklärung
    </h2>
    <p class="data-privacy__paragraph" i18n>
      Sie haben das Recht, Ihre datenschutzrechtliche Einwilligungserklärung
      jederzeit zu widerrufen. Durch den Widerruf der Einwilligung wird die
      Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten
      Verarbeitung nicht berührt.
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>
      Recht auf Beschwerde bei einer Aufsichtsbehörde
    </h2>
    <p class="data-privacy__paragraph" i18n>
      Unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen
      Rechtsbehelfs steht Ihnen gemäß Art. 77 DSGVO das Recht auf Beschwerde bei
      einer Aufsichtsbehörde zu, wenn Sie der Ansicht sind, dass die
      Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO
      verstößt.
    </p>
    <h2 class="data-privacy__secondary-heading" i18n>
      Aktualität und Änderung dieser Datenschutzerklärung
    </h2>
    <p class="data-privacy__paragraph" i18n>
      Diese Datenschutzerklärung ist aktuell gültig und hat den Stand 2021.
      Durch die Weiterentwicklung unserer Website und Angebote darüber oder
      aufgrund geänderter gesetzlicher bzw. behördlicher Vorgaben kann es
      notwendig werden, diese Datenschutzerklärung zu ändern.
    </p>
  </div>
</main>
<shared-footer></shared-footer>
