<section class="section about">
  <div class="container">
    <shared-section-header
      title="Was mich auszeichnet"
      subtitle="Über mich"
      i18n-title
      i18n-subtitle
    ></shared-section-header>
    <div class="about__content-container">
      <div class="about__image-container" sharedFadeIn>
        <div class="padding-top-hack padding-top-hack--1-by-1">
          <div class="padding-top-hack__inner-container">
            <img
              src="/assets/images/about-image.jpg"
              alt=""
              class="about__image"
            />
          </div>
        </div>
      </div>
      <p class="section__paragraph" sharedFadeIn i18n>
        Was als Leidenschaft und Traum begann, hat sich zu einer Lebensart
        entwickelt. Die ersten Berührungspunkte sammelte ich bei der Fotografie
        von Supercars. Inzwischen teste und fahre ich leidenschaftlich PS-starke
        Fahrzeuge im Sportwagen- und Elektrofahrzeug- Segment. Meine Abenteuer
        und Erfahrungen teile ich mit meiner Community, hauptsächlich auf
        Instagram und TikTok. Einen erfolgreichen Social Media Auftritt konnte
        ich jedoch nicht nur auf meinen eigenen Kanälen aufbauen, sondern auch
        für zahlreiche Firmen. Authentizität, starke Skills in Foto- und
        Videografie sowie fundiertes Social Media Wissen sind dabei mein
        Markenzeichen. Dabei agiere ich mit Leidenschaft und Herzblut.
      </p>
    </div>
  </div>
</section>
