<footer class="section footer">
  <div class="container">
    <div class="footer__links-container">
      <a routerLink="/impressum" class="footer__link" i18n> Impressum </a>
      <a routerLink="/data-privacy" class="footer__link" i18n> Datenschutz </a>
    </div>
    <div class="footer__icons-container">
      <a routerLink="/">
        <svg
          width="39"
          height="39"
          viewBox="0 0 39 39"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_113_1113)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.32598 30.6685L0.499973 8.36729L18.152 8.36729L9.32598 30.6685Z"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M29.674 30.6859L38.5 8.38477H20.848L12.022 30.6859H29.674Z"
              fill="white"
            />
          </g>
          <defs>
            <clipPath id="clip0_113_1113">
              <rect
                width="38"
                height="38"
                fill="white"
                transform="translate(0.5 0.526367)"
              />
            </clipPath>
          </defs>
        </svg>
      </a>
      <shared-social-media-channels
        instagramUrl="https://www.instagram.com/tomke_nils"
        linkedInUrl="https://www.linkedin.com/in/tomke-janowitz-032711191"
        tikTokUrl="https://www.tiktok.com/@tomke_nils"
        [iconsColor]="SocialMediaIconsColor.LIGHT"
      ></shared-social-media-channels>
    </div>
    <div class="footer__contact-information-container">
      <a
        href="mailto:kontakt@tomke-nils.de"
        class="footer__link"
        i18n
        i18n-href
      >
        kontakt@tomke-nils.de
      </a>
    </div>
  </div>
  <p class="footer__author-note" i18n>
    Designt und entwickelt von
    <a
      href="https://jonas-wolfram.com"
      target="_blank"
      class="footer__jonas-wolfram-link"
    >
      Jonas Wolfram
    </a>
  </p>
</footer>
