<shared-header [backgroundColor]="HeaderBackgroundColor.WHITE"></shared-header>
<main class="impressum__main">
  <div class="container">
    <h1 class="impressum__primary-heading">Impressum</h1>
    <p class="impressum__paragraph" i18n>Angaben gemäß § 5 TMG</p>
    <p class="impressum__paragraph">
      Tomke Janowitz <br />
      Toulouser Allee 25 <br />
      40211 Düsseldorf
    </p>
    <h2 class="impressum__secondary-heading" i18n>Vertreten durch:</h2>
    <p class="impressum__paragraph" i18n>Tomke Nils Janowitz</p>
    <h2 class="impressum__secondary-heading" i18n>Kontakt:</h2>
    <p class="impressum__paragraph" i18n>
      E-Mail:<a href="mailto:kontakt@tomke-nils.de" i18n-href
        >kontakt@tomke-nils.de</a
      >
    </p>
    <h2 class="impressum__secondary-heading" i18n>
      Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:
    </h2>
    <p class="impressum__paragraph">
      Tomke Janowitz<br />
      Toulouser Allee 25 <br />
      40211 Düsseldorf
    </p>

    <h2 class="impressum__secondary-heading" i18n>Haftungsausschluss:</h2>
    <h3 class="impressum__tertiary-heading" i18n>Haftung für Inhalte</h3>
    <p class="impressum__paragraph" i18n>
      Die Inhalte meiner Seiten wurden mit größter Sorgfalt erstellt. Für die
      Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann ich jedoch
      keine Gewähr übernehmen. Als Diensteanbieter bin ich gemäß § 7 Abs.1 TMG
      für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
      verantwortlich. Nach §§ 8 bis 10 TMG bin ich als Diensteanbieter jedoch
      nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
      überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
      Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der
      Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon
      unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt
      der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden
      von entsprechenden Rechtsverletzungen werde ich diese Inhalte umgehend
      entfernen.
    </p>
    <h3 class="impressum__tertiary-heading" i18n>Haftung für Links</h3>
    <p class="impressum__paragraph" i18n>
      Mein Angebot enthält Links zu externen Webseiten Dritter, auf deren
      Inhalte ich keinen Einfluss habe. Deshalb kann ich für diese fremden
      Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
      Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
      verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung
      auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum
      Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche
      Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte
      einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
      Rechtsverletzungen werde ich derartige Links umgehend entfernen.
    </p>
    <h3 class="impressum__tertiary-heading" i18n>Urheberrecht</h3>
    <p class="impressum__paragraph" i18n>
      Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen
      Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung,
      Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen
      des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen
      Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den
      privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf
      dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte
      Dritter beachtet. Insbesondere werden Inhalte Dritter als solche
      gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung
      aufmerksam werden, bitte ich um einen entsprechenden Hinweis. Bei
      Bekanntwerden von Rechtsverletzungen werde ich derartige Inhalte umgehend
      entfernen.
    </p>
  </div>
</main>
<shared-footer></shared-footer>
